.dashboard {
    display: flex;
    min-height: 100vh;
    background-color: #f0f2f5;
    color: black;
}

.dashboard-content {
    margin-left: 240px;
    padding: 2rem;
    width: 100%;
    transition: margin-left 0.3s ease;
}

.sidenav.collapsed ~ .dashboard-content {
    margin-left: 80px;
}

.dashboard-content > .content-box {
    background-color: white;
    border-radius: 16px;
    padding: 2rem;
    box-shadow: 0 4px 12px rgb(0,0,0,0.1);
}