.item-navbar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    text-decoration: none;
    color: #eaecef;
    cursor: pointer;
    transition: background 0.2s ease, padding 0.3s;
}

.item-navbar:hover {
    background: #3a3f44;
}

.item-navbar .item-label {
    margin: 0;
    font-size: 18px;
    color: #eaecef;
    white-space: nowrap;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.sidenav.collapsed .item-navbar {
    justify-content: center;
    padding: 10px 0;
}

.sidenav.collapsed .item-label {
    opacity: 0;
    width: 0;
    overflow: hidden;
}