.item-navbar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.5rem;
    border-radius: 6px;
    text-decoration: none;
    color: #eaecef;
    cursor: pointer;
    transition: background 0.2s ease;
}

.item-navbar p {
    margin: 0;
    font-size: 18px;
    color: #eaecef;
}
