.container-participant {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: green;
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.participant-name {
    font-size: 14px;
    color: whitesmoke;
}

.icon-remove {
    display: none;
    font-size: 16px;
    color: white;
    transition: opacity 0.2 ease;
}

.container-participant:hover .icon-remove {
    display: inline;
}