body{
    color: white;
    
}

img {
    margin-top: 100px;
    margin-left: 50px;
    width: 80px;
    border-radius: 50%;
}

.sidenav{
    width: 240px;
    background: #011627;
    position:absolute;
    top: 0;
    height: 100vh;
    padding: 0 30px;
    transition: left 0.4s ease;
    left: -100%;
    z-index: 100;    
}

.sidenav.active {
    left: 0;
}

ul{
    padding: 0;
}

ul li {
    list-style-type: none;
    margin: 10px 0;
    cursor: pointer;
}

ul li a {
    color: #eaecef;
    text-decoration: none;
    font-size: 21px;
    display: block;
    border-radius: 6px;

}

ul li a:hover,
ul li a:active{
    background: #00b4d8;
    color: #011627;
}

.line {
    background: #ccc;
    height: 1px;
    display: block;
    margin: 1rem 0;
    width: 100%
}

.submenu {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    padding-left: 1rem;
  }
  
  .submenu.open {
    max-height: 500px; /* Ajusta según necesidad */
    opacity: 1;
  }
  
  
  
