# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build results
[Bb]in/
[Oo]bj/
**/bin/
**/obj/
artifacts/
*.cache
*.log

# Build results (platform specific)
[Dd]ebug*/ 
[Rr]elease*/ 
x64/
x86/
[Aa][Rr][Mm]*/
[Ww][Ii][Nn]32/

# IDEs and editors
.vs/
.idea/
.vscode/

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.coverage
*.coveragexml
coverage.cobertura.xml
coverage.json
*.ncover
*.coveragedb
*.VisualState.xml
TestResult.xml

# Tools
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
.axoCover/*
!.axoCover/settings.json
.nunit*
NCrunch_*
AutoTest.Net/
BenchmarkDotNet.Artifacts/

# Package managers
*.nupkg
*.snupkg
.paket/
paket-files/

# Others
publish/
*.deployproj
*.ddf
*.cab
*.psess
*.vsp*
*.sap
*.e2e
*.testsettings
*.vsix*
*.wixproj.user
*.ruleset
*.sln.iml
*.feature.cs

# Azure Functions
.azurefunctions/
.funcignore

# Terraform
.terraform/
*.tfstate*
*.tfvars*

# Misc
.env
*.swp

# Others
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode-test
bin/
obj/
**/bin/
**/obj/

